# Node
node_modules
npm-debug.log
yarn-error.log

# Frontend build
dist
build
.next
out

# Java / Gradle
.gradle
.gradle-cache
wrapper
*.gradle

# .NET
bin
obj

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
*.log
*.tmp
.DS_Store

# Docker
Dockerfile*
docker-compose.yml
.env